<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>

    <link rel="stylesheet" href="{% static 'goatoolsgui/styles.css' %}">
    <script src="{% static 'goatoolsgui/app.js' %}" type="text/javascript" async defer></script>
  </head>

  <body>
    {% include "goatoolsgui/header.html" %}
    <!-- TODO: Do I need another block here for information? -->
    {% block content %}{% endblock %}
    {% include "goatoolsgui/footer.html" %}
  </body>
</html>
