{% extends 'goatoolsgui/base.html' %}

{% block content %}
<section class="intro col-lg-10">
  <h2></h2> <!-- Suppress validation warning -->
  <p class="lead ">
    This is the web interface for <a href="https://github.com/tanghaibao/goatools">Goatools</a>
    which is a set of python command line tools to assist in the analysis of Genetic Ontology
    studies.
  </p>
</section>

<form class="" action="{% url 'goatoolsgui:index' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <!-- GO ID's Input -->
  <div class="form-group">
    <label for="{{ form.goids.id_for_label }}" class="">
      Enter GO id's:
    </label>
    <!-- Hidden by '.input-file' in forms.py -->
    {{ form.gos_file }}
    <div class="input-group">
      <label for="{{ form.gos_file.id_for_label }}" class="input-group-addon btn btn-info">
        Upload<br><br>file
      </label>
      {{ form.goids }}
    </div>
  </div>

  <!-- Section File Input -->
  <div class="form-group">
    <label for="">Sections File:</label>
    <!-- Hidden by '.input-file' in forms.py -->
    {{ form.sections_file }}
    <div class="input-group">
      <label for="{{ form.sections_file.id_for_label }}" class="input-group-addon btn btn-info">
        Upload File:
      </label>
      <span id="sections-file-name" class="form-control">Optional</span>
    </div>
  </div>

  <!-- Name File Download -->
  <div class="form-group">
    <label for="{{ form.filename.id_for_label }}">Name file download:</label>
    <div class="input-group">
      {{ form.filename }}
      <span class="input-group-addon">.xlsx</span>
    </div>
  </div>

  <!-- Form Buttons -->
  <div class="form-group">
    <div class="row">
      <div class="col-xs-5 col-xs-offset-2">
        <input class="btn btn-secondary" type="reset" />
      </div>
      <div class="col-xs-5">
        <input class="btn btn-primary" type="submit" />
      </div>
    </div>
  </div>
</form>
{% endblock %}

